@import "tailwindcss";
@import "@fontsource/manrope";

body,Jammming
html,
#root {
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

html {
  font-size: 18px;
}

h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin: .5rem auto 1rem auto;
  background: linear-gradient(
    125deg,
    #fff 10%,
    rgba(108, 65, 233, .7) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  max-width: 800px;

}

h1::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.3) 0%, /* Bright white highlight */
    rgba(255, 255, 255, 0) 60% /* Fades to transparency */
  );
  mix-blend-mode: overlay;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.55rem;
}

h3 {
  font-size: 1.0rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url(./BG-Asset.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
